@import("../../../../stylus/index.styl")

.info
    margin: $margin
    .logo
        width $conImg
        margin: $margin
    input 
        outline-style: none ;
        border: $border solid #ccc; 
        border-radius: $borderRadious;
        margin: $margin
        float: right 
        width: 2rem;
