@import("../../stylus/index.styl");

.login
    padding-bottom: $footerHeight
    .login-main
        margin: $mainTop $mainMargin 0 $mainMargin
        overflow hidden
        .login-title
            margin-top: $margin
        .login-forget
            font-size: $h4
            margin-top: $padding
            overflow: hidden
            a{
                float: right 
                color: $font-color4
            }