@import("../../stylus/index.styl");

.register
    padding-bottom: $footerHeight
    .register-main
        margin: $mainTop $mainMargin 0 $mainMargin
        .register-title
            margin-top: $margin
          
