@import ('../../../../stylus/index.styl');

.nav {
    margin: $padding;
    display: flex;

    .nav-con {
        flex: 1
        margin: $padding
        width: $navWidth;
        height: $navHeight;
        .nav-img{
            width 100%
            height $navWidth
        }
        .nav-title{
            text-align: center
            font-size: $h3
            margin-top: $padding
        }
    }
}
