@import ('../../stylus/index.styl');

.index {
    padding-bottom: $footerHeight;

    .index-footer {
        width: 100vw;
        height: $footerHeight;
        border-top: $borderWidth solid $font-color3;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        background: $font-fff;

        a {
            flex: 1;
            text-align: center;
            line-height: $footerHeight;
            color: $font-color1;
        }

        .select {
            color: $primary;
        }
    }
    .index-footer2 {
        width: 100vw;
        height: $footerHeight;
        border-top: $borderWidth solid $font-color3;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        background: $font-fff;

        a {
            flex: 1;
            text-align: center;
            color: $font-color1
            img{
                width 0.4rem
                height 0.4rem
                display: block
                margin: $padding auto 
            }
            
        }

        .select {
            color: $primary;
        }
    }

    
}
