@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 100%;
    border-radius: $margin
    line-height: $buttonHeight
    margin-top: $margin
}
.inp{
    width 100%
    height $inpHeight
    border:0;
    outline: none 
    border-bottom:$border solid $font-color3;
}