@import("../../stylus/index.styl")

.shop
    overflow hidden
    padding-bottom: $footerHeight1
    .null
        text-align: center
        font-size: $h1
        color: $primary
        margin-top: $margin2
    .con
        margin-top: $margin
        overflow hidden
        .address
            height $headerHeight
            overflow hidden
            .store
                width $storeImg
                height $storeImg
                margin: $margin
                float left
            .cangku
                margin: $margin
                color: $font-color4
        .main
            width 8.5rem
            overflow hidden
            transition: all 0.3s
            .radio
                width $storeImg
                height $storeImg
                margin: $margin
                float left
                img 
                    position relative
                    top 200%
            .goodImg
                width $shopImg
                height $shopImg
                float left
            .mid
                width $midWidth
                float left
                .title
                    font-size $fontSize
                    margin-left: $margin
                .num 
                    margin $margin
                    overflow hidden
                    .icon
                        border: $border solid $font-color4
                        float left
                        width $numWidth
                        padding: $padding
                        text-align: center
                .price
                    font-size: $h3
                    margin-top: $margin
                    margin-left: $margin
            .per
                float left
                position relative
                margin-top: $bigmargin
                font-size: $h4
            .del
                width $delWidth
                height $delHeight
                line-height $delHeight
                background: $primary
                text-align: center
                color: $font-fff
                float right
        .main-show-del
            margin-left: $delmargin
    .footer
        width 100vw
        height $footerHeight1
        position: fixed
        background: $font-fff
        left 0
        bottom: $footerHeight
        border-top: $border solid $font-color4
        box-sizing: border-box
        overflow hidden
        img 
            width $storeImg
            height $storeImg
            display: inline-block
            line-height $footerHeight1
            margin: $margin
        .allSelect
            float left
            height $footerHeight1
            margin-right: $margin
            div
                text-align: center
        .edit
            float left
            height $footerHeight1
            div
                text-align: center
        .price
            float left
            height $footerHeight1
            margin-left: $margin
            .all
                width 3rem
                margin-top: $margin1
            .hit
                color: $font-color4
        .del
            float: right 
            background: $primary
            color: $font-fff
            width $btnWidth1 
            height 100%
            text-align: center
            div 
                margin-top: $margin1
                font-size: $h2

 

        

            